body{
max-width:640px;
margin:auto;
padding: 10px 10px;
background:#eee;
font-size:14px;
font-family:arial;
}
.top{
color:#0f6389;
font-style:italic;
font-size:20px;
margin:0 0 10px 0;
}
.menu{
border:#d6d9da 0.5px solid;
border-top:#fab548 6px solid;
border-radius:5px;
background:#fff;
margin-bottom: 10px;
padding:5px 15px 5px 60px;
}
.menu a,
.menu a:link{
display:block;
font-weight:bold;
text-decoration:none;
color:#1486ba;
padding:3px 10px 0px 10px;
font-size:13px;
border-bottom:#d6d9da 0.5px solid;
}
.menu a:hover{
background:#d6d9da;
}
.content{
border:#d6d9da 0.5px solid;
border-top:#1486ba 6px solid;
border-radius:5px;
background:#fff;
margin-bottom: 10px;
padding:5px 15px;
}